.Products{
    max-width: 1296px;
    padding: 20px;
    margin: 0 auto;
    
    .products-content{

        .products-title, .products-description{
            margin: 24px 0;
            text-align: center;
        }
        .products-title{
            font-size: 24px;
        }

        .products-description{
            font-size: 16px;
        }
    }
}

@media(min-width: 768px){
    .Products{
        .list-products{
            display: flex;
            flex-direction: row;
        }
    }
}

@media(min-width: 1025px){
    .Products{
        width: 60%;
    }
}