// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

.Header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: transparent;
    height: 50px;
}